.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f8f8f8;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background-color: #e0e0e0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('./images/images-1.jpg');
    max-width: 1440px;
    background-size: cover;
    background-position: center;
}